{% extends 'base.html.twig' %}

{% block title %} Acerca de CarlosRamosDev {% endblock %}

{% block body %}
    <h1>Acerca de CarlosRamosDev</h1>
    <p>Esto será un acordeón </p>
    <div>¿Quien soy?</div>
    <p></p>
    <div>Hobbies</div>
    <p></p>
    <div>Proyectos</div>
    <p></p>
{% endblock %}
