{% extends 'base.html.twig' %}

{% block title %} DicePals | Página Principal {% endblock %}

{% block body %}

        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold">Bienvenido a DicePals</h1>
                        <p class="fs-4">
                            DicePals es un juego de navegador de combates por turnos con gestión de recursos
                        </p>
                        <p class="fs-4">
                            ¡Aprovecha ahora la oportunidad de disfrutar de este juego de forma totalmente gratuita!
                        </p>
                        {% if app.user %}
                            <a class="btn btn-primary btn-lg" href="play">¡Juega ahora!</a>    
                        {% else %}                            
                            <a class="btn btn-primary btn-lg" href="login">¡Inicia sesión para empezar a jugar!</a>
                            <p class="fs-4">
                                o
                            </p>
                            <a class="btn btn-primary btn-lg" href="register">¡Regístrate ahora, es gratis!</a>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </header>

         <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">

                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                                <h2 class="fs-4 fw-bold">Crea tu personaje</h2>
                                <p class="mb-0">Decide su historia, acata sus consecuencias, explora un mundo de posibilidades</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                                <h2 class="fs-4 fw-bold">Una cuenta, todos los dispositivos que quieras</h2>
                                <p class="mb-0">Una vez creada tu cuenta, tus personajes se almacenarán en ella, lo que te da la posibilidad de jugar en el dispositivo que tu quieras.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                                <h2 class="fs-4 fw-bold">Variedad de misiones</h2>
                                <p class="mb-0">Explora el mundo en busca de misiones diferentes. No todas las misiones son de "Correveydile", o de "Ve al bosque y mata 10 goblins". Completarlas no solo te otorga recompensas económicas, tambien afectan al mundo que te rodea</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bootstrap"></i></div>
                                <h2 class="fs-4 fw-bold">Accede a la Wiki</h2>
                                <p class="mb-0">La wiki tiene toda la información que el usuario necesita para progresar por el mundo, desde los enemigos que puede encontrar por el mundo, las misiones y los objetos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-code"></i></div>
                                <h2 class="fs-4 fw-bold">Sistema de progresión</h2>
                                <p class="mb-0">Consigue experiencia completando misiones, eventos y eliminando monstruos y peligros, para luego gastarla mejorando las habilidades de tu personaje, o aprendiendo algunas nuevas que el no domina</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-patch-check"></i></div>
                                <h2 class="fs-4 fw-bold">Escoge entre una gran variedad de clases</h2>
                                <p class="mb-0">Especializa a tu personaje y juégalo como tu prefieras, combate cercano, a distancia, lanzando conjuros, la decisión es tuya, el límite lo pones tu </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tutorial del juego-->
            
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body p-4 p-lg-5 pt-0 pt-lg-0">
                                <br><br>
                                <h2 class="fs-4 fw-bold">Empezar a jugar a DicePals es muy fácil</h2>                
                                <h3 class="fs-4 fw-bold">Creación de la cuenta</h3>
                                <ul>
                                    <li>Solo tienes que registrarte pinchando en el botón de Registrate, arriba a la derecha</li>
                                    <li>¡Crear una cuenta de usuario es muy sencillo y es totalmente gratuito!</li>
                                    <li>Una vez creada tu cuenta, puedes crearte tu primer personaje</li>                            
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body p-4 p-lg-5 pt-0 pt-lg-0">
                                <br><br>
                                <h3 class="fs-4 fw-bold">Creación de de personajes</h3>
                                <ul>
                                    <li>A estas alturas del desarrollo se pueden elegir entre 3 razas, humanos, elfos y enanos</li>
                                    <li>Decide tanto el nombre, como su raza, y el arma que empuñará al principio</li>
                                    <li>Más adelante, cada raza tendrá habilidades especiales, y habrá un selector de dificultad para los jugadores más exigentes</li>
                                    <li>Una vez hayas decidido tu raza, pincha en "Crear Personaje"</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body p-4 p-lg-5 pt-0 pt-lg-0">
                                <br><br>

                                <h3 class="fs-4 fw-bold">Cargar partida</h3>
                                <ul>
                                    <li>Si tienes algún personaje creado, puedes importar tu partida. </li>
                                    <li>Manten todos tus datos actualizados, sin complicaciones</li>
                                    <li>¡Continua jugando desde el dispositivo que quieras!</li>
                                    <li>¡Recuerda que hay una aplicación para android e iOS en camino!</li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body p-4 p-lg-5 pt-0 pt-lg-0">
                                <br><br>

                                <h3 class="fs-4 fw-bold">Interfaz de Juego</h3>
                                <ul>
                                    <li>La interfaz de DicePals está separada en varios apartados</li>
                                    <li>Estadísticas del personaje</li>
                                    <li>Menú contextual</li>
                                    <li>El terminal</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-xxl-4 mb-5 m-auto">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body p-4 p-lg-5 pt-0 pt-lg-0">
                                <br><br>
                                <h3 class="fs-4 fw-bold">Estadísticas de personaje</h3>
                                <ul>
                                    <li>Salud representa la capacidad de soportar el dolor y la capacidad de supervivencia de tu personaje. Si el valor actual llega a 0, tu personaje morirá.</li>
                                    <li>Resistencia representa el valor de aguante físico de tu personaje. Actualmente no tiene uso, pero más adelante, todas las habilidades físicas consumirán este recurso.</li>
                                    <li>Esencia representa el valor de aguante mental tu personaje. Las habilidades especiales, consumen este preciadísimo recurso. Intentar utilizar una habilidad que consuma esencia sin tener suficientes puntos, hará que el personaje pierda el turno, pero el enemigo no tendrá piedad.</li>
                                    <li>La experiencia representa la capacidad de aprendizaje de tu personaje. Se utiliza para hacer progresar a tu personaje, mejorando sus atributos, o haciendole aprender habilidades nuevas.</li>
                                    <li>Oro representa la cantidad de monedas de oro de tu personaje. Puedes utilizarlo en la ciudad, para descansar en la taberna o para comprar en la tienda.</li>
                                    <li>Total de pociones muestra cuantas pociones de salud le quedan a tu personaje.</li>
                                    <li>El botón de limpiar el terminal, como su nombre indica, limpia el terminal.</li>
                                </ul>                  
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body p-4 p-lg-5 pt-0 pt-lg-0">
                                <br><br>
                                <h3 class="fs-4 fw-bold">Menu contextual: Acciones de ciudad</h3>
                                <ul>
                                    <li>Buscar tienda te lleva a hablar con los mercaderes de la ciudad, aunque ahora mismo, por algún motivo desconocido, se niegan a hablar contigo... no tiene nada que ver con que no estén implementadas</li>
                                    <li>Salir de incursión hará que tu personaje salga de la ciudad, cambiando el menú contextual al de viaje.</li>
                                    <li>Ir a la posada lleva a tu personaje a descansar. Recuperarás toda tu salud, resistencia y esencia. Además, guardará la partida en la base de datos. Cuesta 10 monedas de oro.</li>                            
                                </ul>                  
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body p-4 p-lg-5 pt-0 pt-lg-0">
                                <br><br>
                                <h3 class="fs-4 fw-bold">Menu contextual: Acciones de viaje</h3>
                                <ul>
                                    <li>Volver a la ciudad nos devuelve a la ciudad.</li>
                                    <li>Buscar enemigos nos permite buscar una presa. Cambia el menú contextual al menú de selección de enemigo.</li>
                                    <li>Acampar nos dejará descansar, recuperando nuestra salud y resistencia, pero no la esencia, ni nos permitirá guardar la partida.</li>                            
                                </ul>                  
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body p-4 p-lg-5 pt-0 pt-lg-0">
                                <br><br>
                                <h3 class="fs-4 fw-bold">Menu contextual: Selección de enemigo</h3>
                                <ul>
                                    <li>Goblin, enemigos muy débiles, no suponen un reto.</li>
                                    <li>Orco, enemigos duros, un despiste puede acabar en la muerte de tu personaje.</li>
                                    <li>Ogro, el enemigo más duro actualmente en juego. Matarlos es un reto enorme.</li>
                                </ul>                  
                            </div>
                        </div>
                    </div> 

                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body p-4 p-lg-5 pt-0 pt-lg-0">
                                <br><br>
                                <h3 class="fs-4 fw-bold">Menu contextual: Acciones de combate</h3>
                                <ul>
                                    <li>Pegar hace que que tu personaje ataque a tu enemigo antes de que el enemigo se devuelva.</li>
                                    <li>Pegar Fuerte funciona igual que pegar, solo que causa el doble de daño. Consume 1 punto de esencia.</li>
                                    <li>Huír te devuelve al menú de viaje</li>
                                    <li>Usar Poción te permite recuperar 10 puntos de salud, pero te consume 1 poción.</li>
                                </ul>                  
                            </div>
                        </div>
                    </div>                                  
                
                </div>
            </div>
        </section>
{% endblock %}

