{% extends 'base.html.twig' %}

{% block title %} DicePals | La wiki {% endblock %}

{% block stylesheets %}    
    <link href="css/bottom.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/general.css" rel="stylesheet" />
{% endblock %}

{% block body %}

    <div class="container px-lg-2">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1>Esta página está en construcción</h1>
            </div>
        </div>
    </div>

{% endblock %}