{% extends 'base.html.twig' %}

{% block title %} DicePals | El juego {% endblock %}

{% block stylesheets %}    
    <link href="css/bottom.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
{% endblock %}

{% block body %}

    <h1>Esta página está en construcción</h1>

{% endblock %}